<div class="at-recipes-list">
    <div class="at-recipes-toolbar-container">
        <at-recipes-toolbar></at-recipes-toolbar>
    </div>

    
    <at-list
        [data]="recipes$ | async"
        [selected]="activeRecipe$ | async"
        [itemTemplate]="itemTemplate"
        (selectedItemHasBeenChanged)="onSelectedItemHasBeenChanged($event)"
    >
    </at-list>
</div>

<ng-template #itemTemplate let-item="item">
    <div class="at-recipes-list-link">
        {{ item?.title }}
    </div>
</ng-template>
