<div class="at-tabset">
    <div class="at-tabset-list-container">
        <ng-template *ngTemplateOutlet="tabsListAdjacent"></ng-template>

        <ul class="at-tabset-list nav flex-column nav-pills">
            <li
                class="at-tabset-list-item nav-item"
                *ngFor="let item of data"
                (click)="onTabClick($event, item)"
            >
                <a
                    class="at-tabset-list-item-link nav-link"
                    href="#"
                    [class.active]="(active$ | async)?.id === item.id"
                >
                    <ng-template
                        *ngTemplateOutlet="
                            linkTemplate;
                            context: { item: item }
                        "
                    ></ng-template>
                </a>
            </li>
        </ul>
    </div>

    <div class="at-tabset-content">
        <ng-template
            *ngTemplateOutlet="
                contentTemplate;
                context: { item: active$ | async }
            "
        ></ng-template>
    </div>
</div>
