.at-tabset {
    display: flex;
    height: 100%;

    &-list {
        flex: 0 0 400px;

        &-item {
            flex: 0 0 56px;

            padding: 0 10px;

            &-link {
                color: black;

                padding: 1rem 1rem;

                &.active {
                    color: black;
                }
            }
        }
    }

    &-content {
        flex: 1;

        padding: 0 24px;

        border-left: 1px solid #e6e6e6;

        overflow: hidden;
    }
}