.at-tabset {
    display: flex;
    height: 100%;

    &-list-container {
        height: 100%;

        flex: 0 0 400px;

        border-right: 1px solid #e6e6e6;
    }

    &-list-item {
        flex: 0 0 56px;

        padding: 0 10px;

        &-link {
            color: black;

            padding: 1rem 1rem;

            &.active {
                color: black;
            }
        }
    }

    &-content {
        flex: 1;

        padding: 0 24px;

        overflow: hidden;
    }
}
