<div class="at-recipes-editor-edit-mode">
    <div class="at-recipes-editor-edit-mode-title">
        <label for="reciptTitle">Recipe Title:</label>

        <input
            type="text"
            class="form-control"
            id="reciptTitle"
            [ngModel]="(selectedRecipe$ | async)?.title"
            (ngModelChange)="onTitleChange($event)"
        />
    </div>

    <div class="at-recipes-editor-edit-mode-description">
        <label for="recipeDescription">Recipe Description:</label>
        <textarea
            [ngModel]="(selectedRecipe$ | async)?.description"
            class="form-control"
            id="recipeDescription"
            (ngModelChange)="onDescriptionChange($event)"
        ></textarea>
    </div>

    <div class="at-recipes-editor-edit-mode-buttons">
        <button type="button" class="btn btn-secondary" (click)="onCancelClick()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSaveClick()">
            Save
        </button>
    </div>
</div>
