<div class="at-list-container">
    <ng-template *ngTemplateOutlet="listAdjacentTemplate"></ng-template>

    <ul class="at-list nav flex-column nav-pills">
        <li
            class="at-list-item nav-item"
            *ngFor="let item of data"
            (click)="onListItemClick($event, item)"
        >
            <a
                class="at-list-item-link nav-link"
                href="#"
                [class.active]="(selected$ | async)?.id === item.id"
            >
                <ng-template
                    *ngTemplateOutlet="itemTemplate; context: { item: item }"
                ></ng-template>
            </a>
        </li>
    </ul>
</div>
