.at-list-container {
    height: 100%;

    .at-list {
        height: 100%;

        &-item {
            flex: 0 0 56px;

            &-link {
                color: black;

                padding: 1rem 1rem;

                &.active {
                    color: black;
                }
            }
        }
    }
}
